<html data-namespace-typo3-fluid="true" xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">

<f:layout name="Module" />

<f:section name="Content">
   <h1>
      <f:translate key="function_password" extensionName="examples"/>
   </h1>

   <p>
      <f:translate key="function_password_intro" extensionName="examples"/>
   </p>


   <form action="" method="post" id="getPasswordForm" name="getPasswordForm">
      <div class="form-group">
         <label for="mode">Mode</label>
         <select id="mode" class="form-control">
            <f:for as="option" each="{modes}">
               <option>{option}</option>
            </f:for>
         </select>
      </div>
      <div class="form-group">
         <label for="password">Password</label>
         <input id="password" value="{password}"/>
      </div>
      <div class="form-group">
         <label for="hashedPassword">Hash</label>
         <input id="hashedPassword" value="{hashedPassword}">
      </div>
      <input class="btn btn-default" type="submit" name="check" value="Check">
      <input class="btn btn-default" type="submit" name="gethash" value="Get hash">

      <f:if condition="{passwordAction} == 'Check'">
         <f:if condition="{success}">
            <f:then><div class="message">Correct password for the hash</div></f:then>
            <f:else><div class="message">Incorrect password for the hash</div></f:else>
         </f:if>
      </f:if>
   </form>
</f:section>
</html>
